In [93]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# Для работы с матрицами
from scipy.sparse import csr_matrix, coo_matrix

# Детерминированные алгоритмы
from implicit.nearest_neighbours import ItemItemRecommender, CosineRecommender, TFIDFRecommender, BM25Recommender

# Метрики
from implicit.evaluation import train_test_split
from implicit.evaluation import precision_at_k, mean_average_precision_at_k, AUC_at_k, ndcg_at_k

In [94]:
data = pd.read_csv('retail_train.csv')
data.head(2)

,user_id,basket_id,day,item_id,quantity,sales_value,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc
0,2375,26984851472,1,1004906,1,1.39,364,-0.6,1631,1,0.0,0.0
1,2375,26984851472,1,1033142,1,0.82,364,0.0,1631,1,0.0,0.0

In [95]:
test_size_weeks = 3

data_train = data[data['week_no'] < data['week_no'].max() - test_size_weeks]
data_test = data[data['week_no'] >= data['week_no'].max() - test_size_weeks]

### Задание 1. Weighted Random Recommendation

Напишите код для случайных рекоммендаций, в которых вероятность рекомендовать товар прямо пропорциональна логарифму продаж
- Можно сэмплировать товары случайно, но пропорционально какому-либо весу
- Например, прямопропорционально популярности. Вес = log(sales_sum товара)

In [96]:
items_weights = data_train.groupby(by='item_id')['sales_value'].sum().reset_index().rename(columns={'sales_value':'weight'})

In [97]:
items_weights['weight'] += 1
items_weights['weight'] = np.log(items_weights['weight'])
items_weights['weight'] /= items_weights['weight'].sum()
items_weights['weight'].sum()

1.0

In [98]:
def weighted_random_recommendation(items_weights, n=5):
    items = np.array(items_weights['item_id'])
    recs = np.random.choice(items, size=n, replace=False, p=items_weights['weight'])
    return recs.tolist()

In [99]:
result = data_train.groupby('user_id')['item_id'].unique().reset_index()
result.columns=['user_id', 'actual']

In [100]:
%%time
result['weighted_random_recommendation'] = result['user_id'].apply(lambda x: weighted_random_recommendation(items_weights, n=5))

Wall time: 4.22 s

In [101]:
result.head(3)

,user_id,actual,weighted_random_recommendation
0,1,"[825123, 831447, 840361, 845307, 852014, 85498...","[892334, 1148599, 1106592, 838563, 2186629]"
1,2,"[854852, 930118, 1077555, 1098066, 5567388, 55...","[12757617, 5995172, 12128635, 7123871, 12487293]"
2,3,"[866211, 878996, 882830, 904360, 921345, 93194...","[13381256, 12673453, 1074209, 9802691, 831557]"

### Задание 2. Расчет метрик
Рассчитайте Precision@5 для каждого алгоритма с помощью функции из вебинара 1. Какой алгоритм показывает лучшее качество?

In [102]:
def random_recommendation(items, n=5):
    """Случайные рекоммендации"""
    
    items = np.array(items)
    recs = np.random.choice(items, size=n, replace=False)
    
    return recs.tolist()

In [103]:
%%time

items = data_train.item_id.unique()

result['random_recommendation'] = result['user_id'].apply(lambda x: random_recommendation(items, n=5))
result.head(2)

Wall time: 7.96 s

,user_id,actual,weighted_random_recommendation,random_recommendation
0,1,"[825123, 831447, 840361, 845307, 852014, 85498...","[892334, 1148599, 1106592, 838563, 2186629]","[64714, 1039529, 5567592, 123983, 6772852]"
1,2,"[854852, 930118, 1077555, 1098066, 5567388, 55...","[12757617, 5995172, 12128635, 7123871, 12487293]","[1925691, 9420144, 1527524, 13190028, 1019108]"

In [104]:
def popularity_recommendation(data, n=5):
    """Топ-n популярных товаров"""
    
    popular = data.groupby('item_id')['sales_value'].sum().reset_index()
    popular.sort_values('sales_value', ascending=False, inplace=True)
    
    recs = popular.head(n).item_id
    
    return recs.tolist()

In [106]:
%%time

# Можно так делать, так как рекомендация не зависит от юзера
popular_recs = popularity_recommendation(data_train, n=5)

result['popular_recommendation'] = result['user_id'].apply(lambda x: popular_recs)
result.head(2)

Wall time: 221 ms

,user_id,actual,weighted_random_recommendation,random_recommendation,popular_recommendation
0,1,"[825123, 831447, 840361, 845307, 852014, 85498...","[892334, 1148599, 1106592, 838563, 2186629]","[64714, 1039529, 5567592, 123983, 6772852]","[6534178, 6533889, 1029743, 6534166, 1082185]"
1,2,"[854852, 930118, 1077555, 1098066, 5567388, 55...","[12757617, 5995172, 12128635, 7123871, 12487293]","[1925691, 9420144, 1527524, 13190028, 1019108]","[6534178, 6533889, 1029743, 6534166, 1082185]"

In [107]:
popularity = data_train.groupby('item_id')['quantity'].sum().reset_index()
popularity.rename(columns={'quantity': 'n_sold'}, inplace=True)

popularity.head()

   item_id  n_sold
0    25671       6
1    26081       1
2    26093       1
3    26190       1
4    26355       2

In [145]:
top_5000 = popularity.sort_values('n_sold', ascending=False).head(5000).item_id.tolist()

In [147]:
top_5000

[6534178,
 6533889,
 6534166,
 6544236,
 1404121,
 397896,
 999999,
 1426702,
 5703832,
 480014,
 5668996,
 6410462,
 420647,
 5747420,
 731106,
 5716076,
 707683,
 202291,
 1153346,
 1082185,
 5747233,
 6410464,
 545926,
 995242,
 2848087,
 1388206,
 1029743,
 5712216,
 5850988,
 1133018,
 1106523,
 1007195,
 981760,
 5845857,
 883404,
 1127831,
 2690723,
 866227,
 995785,
 860776,
 951590,
 5569230,
 908531,
 916122,
 826249,
 1098066,
 862349,
 1058997,
 1044078,
 904360,
 840361,
 923746,
 1126899,
 849843,
 961554,
 1005186,
 820165,
 1053690,
 844179,
 844165,
 1070820,
 1065593,
 834484,
 994928,
 833715,
 859075,
 1022003,
 1013321,
 938700,
 854852,
 986947,
 5569471,
 927191,
 1071939,
 1096036,
 1004906,
 986912,
 1080414,
 914190,
 908846,
 962229,
 8090521,
 1085604,
 911878,
 1092026,
 866211,
 1068719,
 878996,
 8090537,
 1081177,
 847270,
 929668,
 1024306,
 909894,
 907014,
 903325,
 910032,
 1095275,
 833025,
 962568,
 862139,
 953476,
 847982,
 999971,
 1028816,
 968215,
 976998,
 845208,
 1053763,
 1050229,
 5568378,
 1124729,
 1062966,
 965766,
 1033142,
 987562,
 930917,
 868764,
 1003600,
 857849,
 1070015,
 1101173,
 1120741,
 933835,
 899624,
 979707,
 1075368,
 822407,
 893018,
 6034857,
 1038217,
 893501,
 1006184,
 879755,
 1055863,
 1003188,
 989101,
 995965,
 9526410,
 901062,
 989075,
 1003421,
 913785,
 1029624,
 5592931,
 951526,
 1056509,
 983584,
 911812,
 1113588,
 1037863,
 1026118,
 925626,
 892008,
 916381,
 1136257,
 12810393,
 896369,
 5569845,
 1039156,
 985999,
 973861,
 1043590,
 1101010,
 1022254,
 1110572,
 824005,
 956609,
 1132763,
 1077555,
 830750,
 1055646,
 1030819,
 6533765,
 824555,
 860975,
 866950,
 1051069,
 9527290,
 940947,
 918733,
 925514,
 1118393,
 1050131,
 999858,
 5590287,
 909714,
 1023720,
 874972,
 1045220,
 987480,
 1022872,
 873627,
 976199,
 9245462,
 5569374,
 1015247,
 900491,
 871756,
 5585510,
 1114597,
 913210,
 890610,
 1033615,
 9245413,
 1050851,
 9526563,
 919644,
 845193,
 1041259,
 1056651,
 970030,
 1074405,
 832678,
 5582789,
 1127624,
 880150,
 903674,
 1119051,
 1076056,
 882441,
 1106301,
 9337581,
 911215,
 5569327,
 1048462,
 834117,
 1105488,
 7167218,
 1037840,
 1122358,
 1077490,
 1023958,
 1051516,
 913202,
 951412,
 1027569,
 976065,
 897954,
 1137688,
 1042438,
 965267,
 1040807,
 865178,
 1110843,
 6773204,
 9553031,
 8090532,
 1000753,
 885290,
 7440663,
 1070702,
 866140,
 870547,
 852864,
 856772,
 908213,
 5584027,
 990797,
 1102959,
 979746,
 999270,
 918335,
 908318,
 883932,
 969866,
 9527487,
 890695,
 1014948,
 1134522,
 879948,
 823704,
 861445,
 870780,
 861272,
 863447,
 912681,
 854405,
 949616,
 1132770,
 872137,
 1057260,
 892920,
 8160319,
 1110793,
 857503,
 5585735,
 1012873,
 1002558,
 1042907,
 1094955,
 1043751,
 987724,
 940766,
 1132771,
 1117514,
 12301109,
 1062002,
 1022981,
 1018740,
 971922,
 8011397,
 944534,
 1119879,
 976300,
 1131438,
 976955,
 862732,
 1049788,
 1077975,
 850841,
 999104,
 839419,
 1058779,
 1116821,
 898980,
 835098,
 981944,
 1020581,
 938566,
 8205218,
 883963,
 947798,
 5585635,
 952317,
 935284,
 1126310,
 972742,
 1076875,
 1128016,
 5587133,
 897125,
 907631,
 1080331,
 867188,
 1036501,
 9526886,
 916993,
 9445919,
 1036432,
 944139,
 1041796,
 1034686,
 10285144,
 995876,
 957951,
 939578,
 905539,
 883003,
 12263788,
 889774,
 1137775,
 993638,
 8065410,
 839147,
 5588666,
 1107553,
 939636,
 910291,
 9527494,
 894236,
 865330,
 1051211,
 12301100,
 900802,
 865456,
 999134,
 977499,
 1046262,
 933637,
 985119,
 833723,
 9677202,
 5584007,
 1096343,
 895540,
 949023,
 843756,
 1055283,
 5568729,
 930118,
 946995,
 825541,
 1071333,
 967395,
 970119,
 944836,
 839849,
 845705,
 821083,
 1089392,
 1061220,
 1041157,
 917494,
 1043301,
 1102949,
 926646,
 1074524,
 1052912,
 916767,
 5591038,
 870515,
 7441391,
 855468,
 853904,
 937626,
 1087102,
 1097001,
 944317,
 856252,
 1037894,
 1083721,
 852317,
 1135768,
 847789,
 1034499,
 5585727,
 910745,
 1012587,
 859010,
 6602697,
 936594,
 819978,
 986394,
 951197,
 968417,
 973673,
 1071377,
 896085,
 1116578,
 1082212,
 898068,
 905913,
 921744,
 974108,
 6463658,
 952981,
 1105623,
 1055853,
 965842,
 894511,
 1130858,
 926905,
 1138443,
 1128665,
 831628,
 8090509,
 911470,
 882305,
 922907,
 1069415,
 1001148,
 937571,
 984715,
 1138189,
 985427,
 879528,
 1091365,
 1123792,
 919534,
 918368,
 897306,
 912553,
 823758,
 1112238,
 1096317,
 865528,
 1069621,
 1115874,
 874736,
 878302,
 928049,
 1098248,
 896613,
 868075,
 971165,
 9526411,
 1009449,
 1013149,
 860299,
 838186,
 982790,
 1072523,
 12302069,
 831536,
 1127179,
 1016800,
 5995423,
 1075470,
 951190,
 1029112,
 1108168,
 9705473,
 863802,
 931671,
 1132280,
 1092948,
 823990,
 7024990,
 1044805,
 8090536,
 864774,
 1020682,
 1111072,
 1076881,
 915621,
 902172,
 9420312,
 848355,
 5585639,
 1027168,
 852856,
 913490,
 1051323,
 1072330,
 937791,
 845537,
 12301405,
 1118533,
 1075707,
 9527158,
 1022843,
 822241,
 1139830,
 885863,
 1077703,
 1022053,
 933067,
 1062128,
 827180,
 8177622,
 1118598,
 9571047,
 1042697,
 908489,
 1045515,
 866871,
 904023,
 985893,
 972569,
 1007191,
 937292,
 1054262,
 1013770,
 1135258,
 896862,
 988693,
 999779,
 1074754,
 5568228,
 1055504,
 980727,
 1110764,
 947068,
 896938,
 936634,
 5578494,
 957063,
 957736,
 873203,
 865891,
 948670,
 920308,
 13511722,
 941741,
 871611,
 9527160,
 970202,
 852486,
 910673,
 963971,
 1053875,
 1075313,
 945779,
 964327,
 819765,
 828867,
 952163,
 934639,
 6944571,
 1056746,
 905582,
 943233,
 848015,
 893868,
 9835509,
 1067695,
 972931,
 895070,
 900072,
 932006,
 982960,
 1010190,
 1128240,
 845307,
 858302,
 1133072,
 819927,
 1019744,
 5584847,
 1071342,
 1038663,
 7167249,
 1100972,
 1073150,
 837107,
 1029968,
 914513,
 7139529,
 948650,
 959985,
 949965,
 1124674,
 5568489,
 851057,
 9245106,
 1084331,
 1100658,
 845078,
 1011884,
 1037332,
 998206,
 873178,
 998373,
 942088,
 1104343,
 836281,
 1110142,
 929433,
 932863,
 1079987,
 849202,
 1123086,
 1033846,
 1022097,
 831815,
 1068292,
 1033913,
 1051305,
 882138,
 9836903,
 952254,
 1105917,
 1055425,
 1129671,
 977545,
 842140,
 882830,
 1101174,
 1025611,
 852035,
 903230,
 1111839,
 1123842,
 1011300,
 999714,
 1074333,
 1112473,
 838258,
 989069,
 5584645,
 944137,
 915349,
 1115576,
 8011282,
 1119761,
 973868,
 7168224,
 935317,
 934676,
 1005609,
 998444,
 834103,
 835576,
 1110244,
 885697,
 848029,
 919948,
 902167,
 1081189,
 917816,
 905868,
 869577,
 1092937,
 1033220,
 981521,
 968932,
 995896,
 1000237,
 993466,
 1095700,
 839656,
 1100410,
 10121965,
 12946027,
 898212,
 1013928,
 880427,
 906262,
 942525,
 1022119,
 820560,
 965719,
 7440665,
 1013187,
 892531,
 5584620,
 827683,
 982493,
 8090440,
 844818,
 819255,
 10344585,
 830887,
 944466,
 838602,
 972312,
 950557,
 959409,
 1095100,
 988791,
 1046545,
 847344,
 971949,
 1009200,
 986760,
 962274,
 6534480,
 5587043,
 1088835,
 893739,
 1039589,
 7409957,
 968072,
 8019716,
 1107289,
 944486,
 1051093,
 1040371,
 5591170,
 873654,
 13115493,
 865705,
 1076571,
 962118,
 909268,
 873874,
 850102,
 982469,
 953134,
 5585636,
 9575181,
 990656,
 921836,
 839094,
 901666,
 983936,
 1005637,
 998119,
 897752,
 1057102,
 865303,
 7025106,
 907994,
 5583944,
 891954,
 889731,
 861279,
 905986,
 874058,
 1037451,
 893400,
 1042544,
 1128647,
 960732,
 1122568,
 863664,
 835530,
 840601,
 945273,
 946839,
 960984,
 1044895,
 991379,
 7025114,
 873527,
 983795,
 5586642,
 12262778,
 10285141,
 878234,
 1021116,
 1108131,
 922127,
 1078346,
 1127758,
 828106,
 921504,
 1131344,
 965331,
 1129576,
 1111230,
 901403,
 6442594,
 1040693,
 1011645,
 5586076,
 932182,
 848319,
 871440,
 1130777,
 1012816,
 859427,
 825343,
 1075214,
 890513,
 863337,
 1005274,
 848071,
 904129,
 857006,
 1118787,
 934427,
 916990,
 993441,
 968774,
 961269,
 1043064,
 9913338,
 890536,
 1115175,
 861701,
 867519,
 1014238,
 1090017,
 846823,
 5580793,
 1082310,
 925112,
 945662,
 948232,
 1088393,
 925862,
 1139827,
 873964,
 872417,
 874149,
 1093359,
 13841744,
 12648296,
 833556,
 871061,
 928754,
 1123014,
 826385,
 1043128,
 1070214,
 6534077,
 964356,
 891141,
 1052046,
 1056762,
 873902,
 1135995,
 1098844,
 823721,
 1103741,
 1029504,
 957013,
 958252,
 5584808,
 1137346,
 1024731,
 843744,
 917033,
 989824,
 1077430,
 908346,
 7410290,
 954966,
 964968,
 5574377,
 5569135,
 8291322,
 825365,
 843306,
 932298,
 1075074,
 5591154,
 855310,
 882288,
 837270,
 1088147,
 1048483,
 934369,
 969568,
 870980,
 5586942,
 5573314,
 885023,
 1055503,
 1002771,
 896444,
 922318,
 9416729,
 9836106,
 1079228,
 5563693,
 1135834,
 961979,
 908181,
 1131550,
 5589247,
 1038985,
 1015539,
 819518,
 12384365,
 951746,
 5588238,
 9337369,
 1059891,
 863449,
 850058,
 958137,
 886703,
 872729,
 1085476,
 6464086,
 1102416,
 825749,
 1118012,
 12301839,
 12301073,
 10285149,
 960318,
 879635,
 923673,
 1003441,
 901543,
 10149640,
 1120443,
 9677236,
 997506,
 954642,
 909396,
 991223,
 1070272,
 845262,
 865174,
 12263692,
 1067606,
 970747,
 1013641,
 12811532,
 834833,
 849315,
 848268,
 963835,
 1103629,
 822785,
 921345,
 1007136,
 849264,
 847573,
 929018,
 1076738,
 866755,
 1123420,
 996070,
 948420,
 9483663,
 6534035,
 932179,
 1126252,
 1077143,
 1124695,
 1026346,
 6533936,
 1127817,
 825994,
 1014675,
 979239,
 1037337,
 880253,
 828935,
 908064,
 1123720,
 902192,
 903233,
 999581,
 912704,
 868423,
 845109,
 12384775,
 829852,
 851676,
 995478,
 973889,
 1047226,
 820122,
 ...]

In [112]:
user_item_matrix.sum().sum() / (user_item_matrix.shape[0] * user_item_matrix.shape[1]) * 100

5.33770796861036

In [113]:
userids = user_item_matrix.index.values
itemids = user_item_matrix.columns.values

matrix_userids = np.arange(len(userids))
matrix_itemids = np.arange(len(itemids))

id_to_itemid = dict(zip(matrix_itemids, itemids))
id_to_userid = dict(zip(matrix_userids, userids))

itemid_to_id = dict(zip(itemids, matrix_itemids))
userid_to_id = dict(zip(userids, matrix_userids))

In [114]:
%%time

model = ItemItemRecommender(K=5, num_threads=4) # K - кол-во билжайших соседей

model.fit(csr_matrix(user_item_matrix).T.tocsr(),  # На вход item-user matrix
          show_progress=True)

recs = model.recommend(userid=userid_to_id[2],  # userid - id от 0 до N-1
                        user_items=csr_matrix(user_item_matrix).tocsr(),   # на вход user-item matrix
                        N=5, # кол-во рекомендаций 
                        filter_already_liked_items=False, 
                        filter_items=None, 
                        recalculate_user=True)

HBox(children=(IntProgress(value=0, max=5001), HTML(value='')))

Wall time: 1.85 s

In [115]:
%%time

result['itemitem'] = result['user_id'].\
    apply(lambda x: [id_to_itemid[rec[0]] for rec in 
                    model.recommend(userid=userid_to_id[x], 
                                    user_items=sparse_user_item,   # на вход user-item matrix
                                    N=5, 
                                    filter_already_liked_items=False, 
                                    filter_items=None, 
                                    recalculate_user=True)])

Wall time: 197 ms

In [116]:
result.head(2)

,user_id,actual,weighted_random_recommendation,random_recommendation,popular_recommendation,itemitem
0,1,"[825123, 831447, 840361, 845307, 852014, 85498...","[892334, 1148599, 1106592, 838563, 2186629]","[64714, 1039529, 5567592, 123983, 6772852]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1127831, 995242]"
1,2,"[854852, 930118, 1077555, 1098066, 5567388, 55...","[12757617, 5995172, 12128635, 7123871, 12487293]","[1925691, 9420144, 1527524, 13190028, 1019108]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1127831, 1098066]"

In [117]:
%%time

model = CosineRecommender(K=5, num_threads=4) # K - кол-во билжайших соседей

model.fit(csr_matrix(user_item_matrix).T.tocsr(), 
          show_progress=True)

recs = model.recommend(userid=userid_to_id[1], 
                        user_items=csr_matrix(user_item_matrix).tocsr(),   # на вход user-item matrix
                        N=5, 
                        filter_already_liked_items=False, 
                        filter_items=None, 
                        recalculate_user=False)

HBox(children=(IntProgress(value=0, max=5001), HTML(value='')))

Wall time: 1.76 s

In [118]:
%%time

result['cosine'] = result['user_id'].\
    apply(lambda x: [id_to_itemid[rec[0]] for rec in 
                    model.recommend(userid=userid_to_id[x], 
                                    user_items=sparse_user_item,   # на вход user-item matrix
                                    N=5, 
                                    filter_already_liked_items=False, 
                                    filter_items=None, 
                                    recalculate_user=True)])

Wall time: 140 ms

In [119]:
result.head(2)

,user_id,actual,weighted_random_recommendation,random_recommendation,popular_recommendation,itemitem,cosine
0,1,"[825123, 831447, 840361, 845307, 852014, 85498...","[892334, 1148599, 1106592, 838563, 2186629]","[64714, 1039529, 5567592, 123983, 6772852]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1127831, 995242]","[1082185, 999999, 981760, 1127831, 1098066]"
1,2,"[854852, 930118, 1077555, 1098066, 5567388, 55...","[12757617, 5995172, 12128635, 7123871, 12487293]","[1925691, 9420144, 1527524, 13190028, 1019108]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1127831, 1098066]","[1082185, 999999, 981760, 1098066, 1127831]"

In [123]:
%%time

model = TFIDFRecommender(K=5, num_threads=4) # K - кол-во билжайших соседей

model.fit(csr_matrix(user_item_matrix).T.tocsr(), 
          show_progress=True)

recs = model.recommend(userid=userid_to_id[1], 
                        user_items=csr_matrix(user_item_matrix).tocsr(),   # на вход user-item matrix
                        N=5, 
                        filter_already_liked_items=False, 
                        filter_items=None, 
                        recalculate_user=False)

HBox(children=(IntProgress(value=0, max=5001), HTML(value='')))

Wall time: 1.91 s

In [124]:
%%time

result['tfidf'] = result['user_id'].\
    apply(lambda x: [id_to_itemid[rec[0]] for rec in 
                    model.recommend(userid=userid_to_id[x], 
                                    user_items=sparse_user_item,   # на вход user-item matrix
                                    N=5, 
                                    filter_already_liked_items=False, 
                                    filter_items=None, 
                                    recalculate_user=False)])

Wall time: 156 ms

In [125]:
result.head(2)

,user_id,actual,weighted_random_recommendation,random_recommendation,popular_recommendation,itemitem,cosine,tfidf
0,1,"[825123, 831447, 840361, 845307, 852014, 85498...","[892334, 1148599, 1106592, 838563, 2186629]","[64714, 1039529, 5567592, 123983, 6772852]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1127831, 995242]","[1082185, 999999, 981760, 1127831, 1098066]","[1082185, 981760, 1127831, 999999, 1098066]"
1,2,"[854852, 930118, 1077555, 1098066, 5567388, 55...","[12757617, 5995172, 12128635, 7123871, 12487293]","[1925691, 9420144, 1527524, 13190028, 1019108]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1127831, 1098066]","[1082185, 999999, 981760, 1098066, 1127831]","[1082185, 981760, 999999, 1127831, 1098066]"

In [126]:
%%time

model = ItemItemRecommender(K=1, num_threads=4) # K - кол-во билжайших соседей

model.fit(csr_matrix(user_item_matrix).T.tocsr(), 
          show_progress=True)

recs = model.recommend(userid=userid_to_id[1], 
                        user_items=csr_matrix(user_item_matrix).tocsr(),   # на вход user-item matrix
                        N=5, 
                        filter_already_liked_items=False, 
                        filter_items=None, 
                        recalculate_user=False)

HBox(children=(IntProgress(value=0, max=5001), HTML(value='')))

Wall time: 1.93 s

In [127]:
%%time

result['own_purchases'] = result['user_id'].\
    apply(lambda x: [id_to_itemid[rec[0]] for rec in 
                    model.recommend(userid=userid_to_id[x], 
                                    user_items=sparse_user_item,   # на вход user-item matrix
                                    N=5, 
                                    filter_already_liked_items=False, 
                                    filter_items=[itemid_to_id[999999]], 
                                    recalculate_user=False)])

Wall time: 117 ms

In [128]:
result.head(5)

,user_id,actual,weighted_random_recommendation,random_recommendation,popular_recommendation,itemitem,cosine,tfidf,own_purchases
0,1,"[825123, 831447, 840361, 845307, 852014, 85498...","[892334, 1148599, 1106592, 838563, 2186629]","[64714, 1039529, 5567592, 123983, 6772852]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1127831, 995242]","[1082185, 999999, 981760, 1127831, 1098066]","[1082185, 981760, 1127831, 999999, 1098066]","[1082185, 1029743, 995785, 1004906, 1081177]"
1,2,"[854852, 930118, 1077555, 1098066, 5567388, 55...","[12757617, 5995172, 12128635, 7123871, 12487293]","[1925691, 9420144, 1527524, 13190028, 1019108]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1127831, 1098066]","[1082185, 999999, 981760, 1098066, 1127831]","[1082185, 981760, 999999, 1127831, 1098066]","[1082185, 1098066, 1127831, 1004906, 1081177]"
2,3,"[866211, 878996, 882830, 904360, 921345, 93194...","[13381256, 12673453, 1074209, 9802691, 831557]","[15595912, 13017642, 6514251, 12673048, 12484608]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1098066, 995242]","[1082185, 1098066, 981760, 999999, 826249]","[1082185, 981760, 1098066, 826249, 999999]","[1082185, 1098066, 6534178, 1127831, 1068719]"
3,4,"[836163, 857849, 877523, 878909, 883932, 89142...","[861792, 8198836, 1061975, 862753, 842330]","[1823518, 6773231, 312652, 822944, 6944764]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1098066, 995242]","[1082185, 999999, 981760, 1098066, 826249]","[1082185, 981760, 1098066, 826249, 999999]","[1029743, 1044078, 5569230, 1076056, 9527290]"
4,5,"[938983, 5980822, 1012352, 825538, 1002499, 69...","[262437, 16056721, 937881, 1024998, 8012554]","[969403, 6464150, 1050422, 7144131, 2674370]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 995242, 1098066]","[1082185, 999999, 981760, 961554, 1098066]","[1082185, 981760, 961554, 999999, 1098066]","[1029743, 1096036, 5568378, 1071939, 1126899]"

In [130]:
result.to_csv('predictions_basic_2.csv', index=False)

In [131]:
def precision_at_k(recommended_list, bought_list, k=5):
    
    bought_list = np.array(bought_list)
    recommended_list = np.array(recommended_list)
    
    bought_list = bought_list  # Тут нет [:k] !!
    recommended_list = recommended_list[:k]
    
    flags = np.isin(bought_list, recommended_list)
    
    precision = flags.sum() / len(recommended_list)
    
    
    return precision

for column_name in result.columns[1:]:
    print('%s: %f' % (column_name, result.apply(lambda row: precision_at_k(row[column_name], row['actual']), axis=1).mean()))

actual: 1.000000
weighted_random_recommendation: 0.012965
random_recommendation: 0.006883
popular_recommendation: 0.393037
itemitem: 0.543737
cosine: 0.575830
tfidf: 0.608723

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: RuntimeWarning: invalid value encountered in long_scalars
  # This is added back by InteractiveShellApp.init_path()

own_purchases: 1.000000

### Задание 3*. Улучшение бейзлайнов и ItemItem

- Попробуйте улучшить бейзлайны, считая их на топ-5000 товаров
- Попробуйте улучшить разные варианты ItemItemRecommender, выбирая число соседей $K$.

In [132]:
def random_recommendation(items, n=5):
    """Случайные рекоммендации"""
    
    
    items = np.array(items)
    recs = np.random.choice(items, size=n, replace=False)
    
    return recs.tolist()

In [133]:
popularity = data_train.groupby('item_id')['quantity'].sum().reset_index()
popularity.rename(columns={'quantity': 'n_sold'}, inplace=True)
items = popularity.sort_values('n_sold', ascending=False).head(5000).item_id.tolist()

result['random_recommendation_5000'] = result['user_id'].apply(lambda x: random_recommendation(items, n=5))

In [169]:
res = result.apply(lambda x: precision_at_k(x['random_recommendation_5000'], x['actual'],  5), axis=1)
metric = pd.DataFrame(index=['precision@5'])
metric['random_recommendation_5000'] = res.mean();

In [170]:
metric[['random_recommendation_5000']]

             random_recommendation_5000
precision@5                    0.055862

Попробуйте улучшить разные варианты ItemItemRecommender, выбирая число соседей  𝐾 .

In [139]:
top_5000 = popularity.sort_values('n_sold', ascending=False).head(5000).item_id.tolist()

In [143]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
# Заведем фиктивный item_id (если юзер НЕ покупал товары из топ-5000, то он "купил" такой товар)
data_train.loc[~data_train['item_id'].isin(top_5000), 'item_id'] = 999999

user_item_matrix = pd.pivot_table(data_train, 
                                  index='user_id', columns='item_id', 
                                  values='quantity',
                                  aggfunc='count', 
                                  fill_value=0
                                 )

user_item_matrix[user_item_matrix > 0] = 1 # так как в итоге хотим предсказать 
user_item_matrix = user_item_matrix.astype(float) # необходимый тип матрицы для implicit

# переведем в формат saprse matrix
sparse_user_item = csr_matrix(user_item_matrix).tocsr()

In [151]:
user_item_matrix.head(3)

item_id,202291,397896,420647,480014,545926,707683,731106,818980,819063,819227,...,15778533,15831255,15926712,15926775,15926844,15926886,15927403,15927661,15927850,16809471
user_id,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [152]:
userids = user_item_matrix.index.values
itemids = user_item_matrix.columns.values

matrix_userids = np.arange(len(userids))
matrix_itemids = np.arange(len(itemids))

id_to_itemid = dict(zip(matrix_itemids, itemids))
id_to_userid = dict(zip(matrix_userids, userids))

itemid_to_id = dict(zip(itemids, matrix_itemids))
userid_to_id = dict(zip(userids, matrix_userids))

In [156]:
result_test = result[['user_id','actual']]

In [157]:
k_list = np.arange(1, 100, 2)

In [161]:
k_list

array([ 1,  3,  5,  7,  9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33,
       35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67,
       69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99])

In [ ]:
%%time
for k in k_list:
    model = ItemItemRecommender(K=k, num_threads=4) # K - кол-во билжайших соседей

    model.fit(csr_matrix(user_item_matrix).T.tocsr(),  # На вход item-user matrix
              show_progress=True)

    recs = model.recommend(userid=userid_to_id[2],  # userid - id от 0 до N
                            user_items=csr_matrix(user_item_matrix).tocsr(),   # на вход user-item matrix
                            N=5, # кол-во рекомендаций 
                            filter_already_liked_items=False, 
                            filter_items=None, 
                            recalculate_user=True)
    
    #result_test - и дальше не понимаю как рправильно написать код.....

In [162]:
%%time

model = ItemItemRecommender(K=3, num_threads=4) # K - кол-во билжайших соседей

model.fit(csr_matrix(user_item_matrix).T.tocsr(), 
          show_progress=True)

recs = model.recommend(userid=userid_to_id[1], 
                        user_items=csr_matrix(user_item_matrix).tocsr(),   # на вход user-item matrix
                        N=5, 
                        filter_already_liked_items=False, 
                        filter_items=None, 
                        recalculate_user=False)

HBox(children=(IntProgress(value=0, max=5001), HTML(value='')))

Wall time: 1.62 s

In [163]:
%%time

result['new_own_purchases'] = result['user_id'].\
    apply(lambda x: [id_to_itemid[rec[0]] for rec in 
                    model.recommend(userid=userid_to_id[x], 
                                    user_items=sparse_user_item,   # на вход user-item matrix
                                    N=5, 
                                    filter_already_liked_items=False, 
                                    filter_items=[itemid_to_id[999999]], 
                                    recalculate_user=False)])

Wall time: 126 ms

In [164]:
result.head(5)

,user_id,actual,weighted_random_recommendation,random_recommendation,popular_recommendation,itemitem,cosine,tfidf,own_purchases,random_recommendation_5000,new_own_purchases
0,1,"[825123, 831447, 840361, 845307, 852014, 85498...","[892334, 1148599, 1106592, 838563, 2186629]","[64714, 1039529, 5567592, 123983, 6772852]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1127831, 995242]","[1082185, 999999, 981760, 1127831, 1098066]","[1082185, 981760, 1127831, 999999, 1098066]","[1082185, 1029743, 995785, 1004906, 1081177]","[953539, 828525, 904833, 1040553, 15452677]","[1082185, 981760, 995242, 1029743, 840361]"
1,2,"[854852, 930118, 1077555, 1098066, 5567388, 55...","[12757617, 5995172, 12128635, 7123871, 12487293]","[1925691, 9420144, 1527524, 13190028, 1019108]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1127831, 1098066]","[1082185, 999999, 981760, 1098066, 1127831]","[1082185, 981760, 999999, 1127831, 1098066]","[1082185, 1098066, 1127831, 1004906, 1081177]","[1116376, 912004, 7168417, 6773204, 1093013]","[1082185, 981760, 840361, 1098066, 826249]"
2,3,"[866211, 878996, 882830, 904360, 921345, 93194...","[13381256, 12673453, 1074209, 9802691, 831557]","[15595912, 13017642, 6514251, 12673048, 12484608]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1098066, 995242]","[1082185, 1098066, 981760, 999999, 826249]","[1082185, 981760, 1098066, 826249, 999999]","[1082185, 1098066, 6534178, 1127831, 1068719]","[5845857, 13115493, 9707199, 919589, 931255]","[1082185, 981760, 1098066, 6534178, 826249]"
3,4,"[836163, 857849, 877523, 878909, 883932, 89142...","[861792, 8198836, 1061975, 862753, 842330]","[1823518, 6773231, 312652, 822944, 6944764]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1098066, 995242]","[1082185, 999999, 981760, 1098066, 826249]","[1082185, 981760, 1098066, 826249, 999999]","[1029743, 1044078, 5569230, 1076056, 9527290]","[839094, 868319, 826790, 1119112, 1127716]","[1082185, 981760, 1029743, 840361, 883404]"
4,5,"[938983, 5980822, 1012352, 825538, 1002499, 69...","[262437, 16056721, 937881, 1024998, 8012554]","[969403, 6464150, 1050422, 7144131, 2674370]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 995242, 1098066]","[1082185, 999999, 981760, 961554, 1098066]","[1082185, 981760, 961554, 999999, 1098066]","[1029743, 1096036, 5568378, 1071939, 1126899]","[9420336, 865196, 891141, 1097815, 1128900]","[1082185, 981760, 1029743, 961554, 916122]"

In [165]:
def precision_at_k(recommended_list, bought_list, k=5):
    
    bought_list = np.array(bought_list)
    recommended_list = np.array(recommended_list)
    
    bought_list = bought_list  # Тут нет [:k] !!
    recommended_list = recommended_list[:k]
    
    flags = np.isin(bought_list, recommended_list)
    
    precision = flags.sum() / len(recommended_list)
    
    
    return precision

for column_name in result.columns[1:]:
    print('%s: %f' % (column_name, result.apply(lambda row: precision_at_k(row[column_name], row['actual']), axis=1).mean()))

actual: 1.000000
weighted_random_recommendation: 0.012965
random_recommendation: 0.006883
popular_recommendation: 0.393037
itemitem: 0.543737
cosine: 0.575830
tfidf: 0.608723
own_purchases: 1.000000
random_recommendation_5000: 0.055862
new_own_purchases: 0.881753